In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

%matplotlib inline

In [10]:
df = pd.read_csv("data.csv")
df.head()

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0

In [11]:
df['Drivetrain'].value_counts()

Drivetrain
FWD    1330
RWD     321
AWD     272
Name: count, dtype: int64

In [ ]:
df[['horsepower', 'rpm']] = df['Max Power'].str.extract(r'(\d+)\s*bhp\s*@\s*(\d+)\s*rpm').astype(float)
df['power_per_rpm'] = df['horsepower'] / df['rpm']
df = df.drop(['horsepower', 'rpm', 'Max Power'], axis=1)

In [4]:
df[['NM', 'rpm']] = df['Max Torque'].str.extract(r'(\d+)\s*Nm\s*@\s*(\d+)\s*rpm').astype(float)
df['torque_per_rpm'] = df['NM'] / df['rpm']
df = df.drop(['NM', 'rpm', 'Max Torque'], axis=1)

In [5]:
df['Engine'] = df['Engine'].str.replace('cc','').astype(float)

In [6]:
max_Year = df['Year'].max()
df['Age'] = max_Year - df['Year']
df = df.drop('Year', axis=1)

In [7]:
df.head()

,Make,Model,Price,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity,power_per_rpm,torque_per_rpm,Age
0,Honda,Amaze 1.2 VX i-VTEC,505000,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198.0,FWD,3990.0,1680.0,1505.0,5.0,35.0,0.014500,0.024222,5
1,Maruti Suzuki,Swift DZire VDI,450000,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248.0,FWD,3995.0,1695.0,1555.0,5.0,42.0,0.018500,0.095000,8
2,Hyundai,i10 Magna 1.2 Kappa2,220000,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197.0,FWD,3585.0,1595.0,1550.0,5.0,35.0,0.013167,1.904750,11
3,Toyota,Glanza G,799000,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197.0,FWD,3995.0,1745.0,1510.0,5.0,37.0,0.013667,0.026905,3
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393.0,RWD,4735.0,1830.0,1795.0,7.0,55.0,0.043529,0.245000,4

In [12]:
df['Transmission'].value_counts()

Transmission
Manual       1133
Automatic     926
Name: count, dtype: int64

In [8]:
df=df.drop('Model',axis=1)

In [9]:
name_counts = df["Fuel Type"].value_counts()
df["Fuel Type"] = df["Fuel Type"].apply(lambda x: x if name_counts[x] > 50 else "Other")

In [14]:
df['Fuel Type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric', 'CNG + CNG',
       'Hybrid', 'Petrol + CNG', 'Petrol + LPG'], dtype=object)

In [19]:
name_counts = df["Color"].value_counts()
df["Color"] = df["Color"].apply(lambda x: x if name_counts[x] > 30 else "Other")

In [20]:
df['Color'].unique()

array(['Grey', 'White', 'Maroon', 'Red', 'Blue', 'Other', 'Silver',
       'Brown', 'Black'], dtype=object)

In [23]:
name_counts = df["Owner"].value_counts()
df["Owner"] = df["Owner"].apply(lambda x: x if name_counts[x] > 30 else "Other")

In [24]:
df['Owner'].unique()

array(['First', 'Second', 'Third', 'Other'], dtype=object)

In [27]:
name_counts = df["Seller Type"].value_counts()
df["Seller Type"] = df["Seller Type"].apply(lambda x: x if name_counts[x] > 100 else "Other")

In [28]:
df['Seller Type'].unique()

array(['Other', 'Individual'], dtype=object)

In [19]:
df.head()

,Make,Price,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity,power_per_rpm,torque_per_rpm,Age
0,Honda,505000,87150,Petrol,Manual,Pune,Grey,First,Other,1198.0,FWD,3990.0,1680.0,1505.0,5.0,35.0,0.014500,0.024222,5
1,Maruti Suzuki,450000,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248.0,FWD,3995.0,1695.0,1555.0,5.0,42.0,0.018500,0.095000,8
2,Hyundai,220000,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197.0,FWD,3585.0,1595.0,1550.0,5.0,35.0,0.013167,1.904750,11
3,Toyota,799000,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197.0,FWD,3995.0,1745.0,1510.0,5.0,37.0,0.013667,0.026905,3
4,Toyota,1950000,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393.0,RWD,4735.0,1830.0,1795.0,7.0,55.0,0.043529,0.245000,4

In [29]:
df['Drivetrain'].unique()

array(['FWD', 'RWD', 'AWD', nan], dtype=object)

In [16]:
df['Location'].unique()

array(['Pune', 'Ludhiana', 'Lucknow', 'Mangalore', 'Mumbai', 'Coimbatore',
       'Bangalore', 'Delhi', 'Raipur', 'Kanpur', 'Patna', 'Vadodara',
       'Hyderabad', 'Yamunanagar', 'Gurgaon', 'Jaipur', 'Deoghar', 'Agra',
       'Goa', 'Warangal', 'Jalandhar', 'Noida', 'Ahmedabad', 'Mohali',
       'Navi Mumbai', 'Ghaziabad', 'Kolkata', 'Zirakpur', 'Nagpur',
       'Thane', 'Faridabad', 'Ranchi', 'Chandigarh', 'Amritsar',
       'Chennai', 'Udupi', 'Panvel', 'Jamshedpur', 'Aurangabad',
       'Rudrapur', 'Nashik', 'Varanasi', 'Salem', 'Dehradun', 'Valsad',
       'Haldwani', 'Dharwad', 'Surat', 'Indore', 'Karnal', 'Panchkula',
       'Mysore', 'Rohtak', 'Ambala Cantt', 'Samastipur', 'Unnao',
       'Purnea', 'Bhubaneswar', 'Kheda', 'Kollam', 'Meerut', 'Ernakulam',
       'Kharar', 'Mirzapur', 'Bhopal', 'Gorakhpur', 'Guwahati',
       'Allahabad', 'Muzaffurpur', 'Faizabad', 'Kota', 'Pimpri-Chinchwad',
       'Dak. Kannada', 'Ranga Reddy', 'Bulandshahar', 'Roorkee',
       'Siliguri'], dtype=object)

In [23]:
df.to_csv("cleaned_data.csv")

In [ ]:
df['Make'].unique()

array(['Honda', 'Maruti Suzuki', 'Hyundai', 'Toyota', 'Mercedes-Benz',
       'BMW', 'Skoda', 'Nissan', 'Renault', 'Tata', 'Volkswagen', 'Ford',
       'Audi', 'Mahindra', 'MG', 'Jeep', 'Porsche', 'Kia', 'Land Rover',
       'Volvo', 'Maserati', 'Jaguar', 'Isuzu', 'Fiat', 'MINI', 'Ferrari',
       'Mitsubishi', 'Datsun', 'Lamborghini', 'Chevrolet', 'Ssangyong',
       'Rolls-Royce', 'Lexus'], dtype=object)